body {
    font-family: Arial, sans-serif;
    background-color: #0c0909;
    margin: 0;
    padding: 0;
}

.todo-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #eaece2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}

.completed {
    background-color: #d3f2be;
}

.complete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.future-due-date {
    background-color: #b13d3d; /* Light red color for future due dates */
}


.background-container {
    background-color: #3498db; /* Set your desired background color */
    background-image: url('lasse.jpg'); /* Set your desired background image */
    background-size: cover;
    background-position: center;
    color: #010507; /* Set text color to contrast with the background */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.todo-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the to-do list */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-container {
    margin-top: 20px;
    text-align: center;
}

.quote-text {
    font-size: 18px;
    font-weight: bold;
}

.quote-author {
    margin-top: 5px;
    font-style: italic;
}

.past-due-date {
    background-color: #ffcccc; /* Light red for past due date tasks */
    color: #ff0000; /* Red text for past due date tasks */
}
.future-due-date {
    background-color: #cce5ff; /* Light blue for future due date tasks */
    color: #0066cc; /* Blue text for future due date tasks */
}

p.quote-text {
    COLOR: #f5f2f7;
}

P.quote-author {
    COLOR: #e7e5ec;
}